<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testexe" thread-count="5" parallel="tests">

	<!-- <groups> <define name="smokesanity"> <include name="smoke"></include> 
		<include name="sanity"></include> </define> <define name="all"> <include 
<include name="sanity"></include> </define> <define name="all"> <include 
		name="smoke"></include> <include name="sanity"></include> </define> <define 
		name="smoke"></include> <include name="sanity"></include> </define> <define 
		name="thirdgroup"> <include name="smoke"></include> <include name="sanity"></include> 
		</define> <run> <include name="all"></include> </run> </groups> -->
	<test  name="chrome">
		<parameter name="browser" value="chrome"></parameter>

		<classes>
			<class name="org.swiggy.scenario.Sample">
			</class>
			<class name="org.swiggy.scenario.Sample2" />
		</classes>
	</test> <!-- chrome -->
	<test name="firefox">
		<parameter name="browser" value="firefox"></parameter>

		<classes>
			<class name="org.swiggy.scenario.Sample">
			</class>
			<class name="org.swiggy.scenario.Sample2" />
		</classes>
	</test> <!-- firefox -->
	<test  name="ie">
		<parameter name="browser" value="chrome"></parameter>

		<classes>
			<class name="org.swiggy.scenario.Sample">
			</class>
			<class name="org.swiggy.scenario.Sample2" />
		</classes>
	</test> <!-- chrome -->
</suite> <!-- testexe -->
